*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

body{
    background: #010104; 
    color: #b1b1b9;
}

body hr{
    height: 1rem;
    background: #14181e;
    border: none;
    margin-bottom: 1rem;
}

header{
    background: #010104;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: #00c787;
}

nav img{
    height: 100px;
    margin-left: 1rem;
}

/* MAIN */



main{
    padding: 15px;
    max-width: 450px;
    margin: 0 auto;
}

section.first{
    
}

section.first .company{
    color: #b1b1b9;
    margin: 1rem 0 1.5rem;
}

section.first .company h1{
    margin-bottom: 1rem;
}

section.first .container-btn{
    color: #b1b1b9;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

section.first .container-btn button{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 2px;
}

section.first .container-btn button.learn{  
    background: #00c787; 
    width: 180px;
}

section.first .container-btn button.action{
    margin-bottom: 0.5rem;  
    width: 200px;
}

section.first figure{
    margin-top: 2rem;
}

section.first figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #00c787;
}

/* Section info */

section.info{
    background: #161a1f;
    margin: 1rem 0rem;
    padding: 10px;
    color: #b1b1b9;
    text-align: center;
    letter-spacing: 0.5px;
    border: 1px solid #22272b;
    border-radius: 2px;
}

section.service{
    text-align: center;
}

section.service .skill{
    margin-bottom: 2rem;
}

section.service .skill h2{
    margin: 1rem 1rem;
}

section.service .container-card{
    margin-bottom: 2rem;
}

section.service .container-card .card{
    margin-bottom: 1.5rem;
    background: #14181e;
    border-radius: 5px;
    border: 1px solid #22272b;
}

section.service .container-card .card i{
    font-size: 2rem;
    background-color: #00c787;
    padding: 5px 0px;
    color: #010104;
    width: 100%;
    border-radius: 2px 2px 0px 0px;
}

section.service .container-card .card h4{
    padding: 10px 0px;
}

section.service .container-card .card p{
    padding: 5px 5px 15px;   
}

section.clients{
    text-align: center;  
    
}

section.clients .container-cli figure{
    margin-top: 2rem;
}

section.clients .container-cli img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #00c787;
}



/* FOOTER */

footer{
    background: #1b1f23;
    color: #b1b1b9;
}

footer .container-footer{
    padding: 15px;
    max-width: 450px;
    margin: 0 auto;
}

footer .container-footer .contact .information ul{
    list-style: none;
    padding: 15px 0px 15px;
}

footer .container-footer .contact .information ul li{
    margin-bottom: 10px;
}

footer .container-footer .contact .redes{
    
}





@media(min-width:576px){
    
    main{
        max-width: 576px;
    }    
    
}

@media(min-width:768px){
    
    main{
        max-width: 700px;
    }    
    
    section.first {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0rem 2rem;
    }
    
    section.first .company {
        margin: 0;
        width: 45%;
    }
    
    section.first figure {
        margin-top: 0;
        width: 50%;
    }
    
    section.info {
        margin: 3rem 0rem;
    }
    
}

@media(min-width:992px){
    
    main{
        max-width: 900px;
    }    
    
    
    
}
